#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main > h1{
    font-size: 50px;
    margin: 10px 0;
}
#main > p{
    font-size: 20px;
    margin: 10px 0;
}
#main > #main-image{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 10px 0;
}
#main > #main-btn{
    background-color: #f7f1e5;
    width: 200px;
    height: 60px;
    border-style: solid;
    border-radius: 30px;
    border-color: #898121;
    font-size: 20px;
    color: #898121;
    margin: 20px 0;
}