#qna {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qna > #bar {
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
}

#qna > #bar > #bar-progress {
    width: 30%;
    height: 10px;
    border-radius: 4px;
    background-color: #e7b10a;
}

#qna > h2 {
    font-size: 50px;
    margin: 10px 0;
}

#qna > p {
    font-size: 20px;
    margin: 10px 0;
}

#menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#qna .menu {
    width: 400px;
    height: 300px;
    margin: 10px;
    background-color: white;
}