.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#testChoice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hidden {
  display: none;
}
.reactionTestBox {
  display: flex;
  width: 80%;
  height: 300px;
  background-color: lightcoral;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.clickNow {
  background-color: lightgreen;
}
.timeResult {
  background-color: skyblue;
}
#reactionTest {
  text-align: center;
}
