body {
  background-color: #e4d8a6;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  display: none;
}
#testChoice {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#reactionTestButton {
  width: 80%;
  height: 100px;
  font-size: 20px;
}
#aimTestButton {
  width: 80%;
  height: 100px;
  font-size: 20px;
}
#progress {
  width: 80%;
  text-align: right;
}
#progress > #progressBar {
  width: 100%;
  height: 30px;
  text-align: right;
}
.reactionTestBox {
  display: flex;
  width: 80%;
  height: 300px;
  background-color: lightcoral;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border: solid 3px;
}
.clickNow {
  background-color: lightgreen;
}
.timeResult {
  background-color: skyblue;
}
#reactionTest {
  text-align: center;
}
